#.travis.yml
sudo: required
dist: trusty
language: node_js
node_js:
  - "8.9"

branches:
  only:
    - develop
    - master
    - /^release-.*$/
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
      - google-chrome-beta

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - npm run build
  - npm run test

notifications:
  email:
    on_failure: change
    on_success: change
